@import url('normalize.css');

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

@font-face {font-family:
    'RaphaelIcons';
    src: url('raphaelicons-webfont.eot');
    src: local('☺'), url('raphaelicons-webfont.woff') format('woff'), url('raphaelicons-webfont.ttf') format('truetype'), url('raphaelicons-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
       overflow: hidden;
       font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;
}

* { box-sizing: border-box; }

a { text-decoration: none; }

.st-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

#home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40vh;
    width: 60vw;
}

#page_title {
    font-size: 6vh;
}

.animation{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 95vh;
    width: 100vw;
}

.st-container > input,
.st-container > a {
    position: fixed;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0px;
    width: 33.33%;
    cursor: pointer;
    height: 15vh;
    font-size: 6vh;
    line-height: 8vh;
}

.st-container > input {
    opacity: 0;
    z-index: 1000;
}

.st-container > a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    z-index: 10;
    font-weight: 700;
    background: #59889C;
    color: #F7F3EC;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}
.st-container:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 15vh;
    background: #59889C;
    z-index: 9;
    bottom: 0;
}
#st-control-1, #st-control-1 + a {
    left: 0%;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
   }

#st-control-1>img, #st-control-1 + a>img {
    height: 8vh;
    margin-right: 2vh;
}

#st-control-2, #st-control-2 + a {
    left: 33.33%;
}

#st-control-3, #st-control-3 + a {
    left: 66.67%;
}

.st-container > input:checked + a,
.st-container > input:checked:hover + a{
    background: #497385;
}

.st-container > input:checked + a:after,
.st-container > input:checked:hover + a:after{
    bottom: 100%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #497385;
    border-width: 5vw;
    left: 50%;
    margin-left: -5vw;
}

.st-container > input:hover + a{
    background: #375461;
}

.st-container > input:hover + a:after {
    border-bottom-color: #497385;
}

.st-scroll,
.st-panel {
    position: relative;
    width: 100%;
    height: 100%;
}

.st-scroll {
    top: 0;
    left: 0;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.st-panel{
    background: #F7F3EC;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
} 

#st-control-1:checked ~ .st-scroll {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
}

#st-control-2:checked ~ .st-scroll {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
}

#st-control-3:checked ~ .st-scroll {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
}

#st-panel-1 #page_title {
  color: #694F2E;
    text-shadow: 1px 1px 1px #8B572A;
    font-size: 7vh;
    font-weight: 900;
    text-align: center;
    width: 66vw;
    padding: 0;
    -webkit-backface-visibility: hidden;
}


#st-panel-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#st-control-1:checked ~ .st-scroll #st-panel-1 #page_title,
#st-control-2:checked ~ .st-scroll #st-panel-2 #page_title,
#st-control-3:checked ~ .st-scroll #st-panel-3 #page_title{
    -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
            animation: moveDown 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveDown{
    0% { 
        -webkit-transform: translateY(-40px); 
                transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        -webkit-transform: translateY(0px); 
                transform: translateY(0px);  
        opacity: 1;
    }
}

@keyframes moveDown{
    0% { 
        -webkit-transform: translateY(-40px); 
                transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        -webkit-transform: translateY(0px); 
                transform: translateY(0px);  
        opacity: 1;
    }
}

/* Colored sections */


.st-color #page_title {
    color: #694F2E;
    /*text-shadow: 1px 1px 1px #8B572A;*/
} 

/* Colored sections */

.st-color #page_title {
    color: #694F2E;
    /*text-shadow: 1px 1px 1px #8B572A;*/
} 



/*Poop Logo with Bounce Animation*/

#logo { 
    -webkit-animation-name: bounce;
    -webkit-animation: bounce 1.5s infinite;
            animation: bounce 1.5s infinite;
    width: 25vw;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-right: 10vw;
    
} 

@-webkit-keyframes bounce { 
     0% {
        -webkit-transform: translate3d(3vh, 3vh, 3vh);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: translate3d(3vh, 8vh, 3vh);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(3vh, 3vh, 3vh);
    }
} 
@keyframes bounce { 
     0% {
        -webkit-transform: translate3d(3vh, 3vh, 3vh);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: translate3d(3vh, 8vh, 3vh);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(3vh, 3vh, 3vh);
    } 
}
#bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

/* Joke & Fact Cards */

 .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 82vh;
    width: 100vw;
    text-align: center; 
 }

.card #logo {
    display: inline;
}

/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.75s;
  transition: -webkit-transform 0.75s;
  transition: transform 0.75s;
  transition: transform 0.75s, -webkit-transform 0.75s;
}

.card__front {
  background-color: #694F2E;
}

.card__back {
  background-color: #543F25;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/* Card Text */

.text_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    height: 65vh; 
    -webkit-align-content: center; 
        -ms-flex-line-pack: center; 
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.card__text {
    width: 75vw;
    position:relative;
    color: #F7F3EC;
    font-size: 6vh;
    line-height: 7vh;
}

#text, #pun {
    text-align: center;
}

#pun {
    font-style: oblique;
}

#fact, #factBack {
    text-align: left;
}

.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card-container {
    position: relative;
    height: 57vh;
    width: 90vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    z-index: 2;
    -webkit-backface-visibility: hidden;
}

@media (min-width:1024px) { 
    #st-control-1, #st-control-1 + a {
    font-size: 3vh;
    line-height: 5vh;
}

.st-container > a {
    font-size: 4.5vh;
    line-height: 5vh;
}

#st-control-1>img, #st-control-1 + a>img {
    height: 5vh;
    margin-right: 0vh;
}
}


@media (min-width:768px) and (max-width:1023px) {
#st-control-1, #st-control-1 + a {
    font-size: 3vh;
    line-height: 4vh;
}

.st-container > a {
    font-size: 4.5vh;
    line-height: 5vh;
}

#home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60vh;
    width: 60vw;
}

#logo {
    width: 45vh;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-right: 6vw;
}

.text_box {
    height: inherit;
}

.card__text {
    width: 75vw;
    text-align: center;
    position: relative;
    color: #F7F3EC;
    font-size: 6vw;
    line-height: 8vw;
}

.card-container {
    height: 66vh;
}
}
   
@media (min-width:521px) and (max-width:767px) {
    #st-control-1, #st-control-1 + a {
    font-size: 3vh;
    line-height: 4vh;
}

.card-container {
    position: relative;
    height: 65vh;
    width: 90vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 4vh;
    line-height: 5vh;
    z-index: 2;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.card__text {
    width: 75vw;
    text-align:left;
    position:relative;
    color: #F7F3EC;
    font-size: 4vw;
    line-height: 5vw;
}

#home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40vh;
    width: 70vw;
}
}
@media screen and (max-width: 520px) {

.st-container > a {
    font-size: 4vh;
    line-height: 4.5vh;
}

#st-control-1, #st-control-1 + a {
    font-size: 2.5vh;
    line-height: 3vh;
}

#st-control-1>img, #st-control-1 + a>img {
    height: 6vh;
    margin-right: 0vh;
}

#home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    height: 66vh;
    width: 60vw;
}

#logo {
    width: 60vw;
    margin-right: 10vw;
}

 .card__text {
    font-size: 8vw;
    line-height: 9vw;
 }
 
 .st-container > input:checked + a:after,
.st-container > input:checked:hover + a:after{
    border-width: 7vw;
    margin-left: -7vw;
}
}

@media screen and (max-width: 360px) {
#logo {
    -webkit-animation-name: bounce;
    -webkit-animation: bounce 1.5s infinite;
            animation: bounce 1.5s infinite;
    width: 55vw;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-right: 10vw;
}

#st-panel-1 #page_title {
    color: #694F2E;
    font-size: 9vw;
}
    
.card { height: 82vh; }    

.card-container {
    height: 65vh;
 }
 
 .card__text {
    font-size: 7vw;
    line-height: 9vw;
 }
 
 #st-panel-2 .card__text {
     font-size: 8vw;
     line-height: 10vw;
 }

.st-container > a {
    font-size: 4vh;
    line-height: 4.5vh;
}

}
