@import url('normalize.css');

@viewport {
    width: device-width;
}

@font-face {font-family:
    'RaphaelIcons';
    src: url('raphaelicons-webfont.eot');
    src: local('☺'), url('raphaelicons-webfont.woff') format('woff'), url('raphaelicons-webfont.ttf') format('truetype'), url('raphaelicons-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
       overflow: hidden;
       font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;
}

* { box-sizing: border-box; }

a { text-decoration: none; }

.st-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
  }

#home {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-end;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 60vw;
}

#page_title {
    font-size: 6vh;
}

.animation{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 95vh;
    width: 100vw;
}

.st-container > input,
.st-container > a {
    position: fixed;
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    width: 33.33%;
    cursor: pointer;
    height: 15vh;
    font-size: 6vh;
    line-height: 8vh;
}

.st-container > input {
    opacity: 0;
    z-index: 1000;
}

.st-container > a {
    display: flex;
    flex-flow: row wrap;
    z-index: 10;
    font-weight: 700;
    background: #59889C;
    color: #F7F3EC;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}
.st-container:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 15vh;
    background: #59889C;
    z-index: 9;
    bottom: 0;
}
#st-control-1, #st-control-1 + a {
    left: 0%;
    flex-flow: column wrap;
   }

#st-control-1>img, #st-control-1 + a>img {
    height: 8vh;
    margin-right: 2vh;
}

#st-control-2, #st-control-2 + a {
    left: 33.33%;
}

#st-control-3, #st-control-3 + a {
    left: 66.67%;
}

.st-container > input:checked + a,
.st-container > input:checked:hover + a{
    background: #497385;
}

.st-container > input:checked + a:after,
.st-container > input:checked:hover + a:after{
    bottom: 100%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #497385;
    border-width: 5vw;
    left: 50%;
    margin-left: -5vw;
}

.st-container > input:hover + a{
    background: #375461;
}

.st-container > input:hover + a:after {
    border-bottom-color: #497385;
}

.st-scroll,
.st-panel {
    position: relative;
    width: 100%;
    height: 100%;
}

.st-scroll {
    top: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.st-panel{
    background: #F7F3EC;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
} 

#st-control-1:checked ~ .st-scroll {
    transform: translateY(0%);
}

#st-control-2:checked ~ .st-scroll {
    transform: translateY(-100%);
}

#st-control-3:checked ~ .st-scroll {
    transform: translateY(-200%);
}

.st-deco{
    position: absolute;
    top: 0;
    left: 0;
    width: 0vw;
    height: 0vh;
    border-left: 50vw solid #F7F3EC;
    border-right: 50vw solid #F7F3EC;
    border-top: 9vw solid #B99764;
}

[data-icon]:after {
 ontent: attr(data-icon);
    font-family: 'RaphaelIcons';
    color: #F7F3EC;
    /*text-shadow: 1px 1px 1px #543F25;*/
    position: absolute;
    text-align: center;
    font-size: 10vh;
    top: 50%;
    left: 50%;
}

#st-panel-1 #page_title {
  color: #694F2E;
    text-shadow: 1px 1px 1px #8B572A;
    font-size: 7vh;
    font-weight: 900;
    text-align: center;
    width: 66vw;
    padding: 0;
    -webkit-backface-visibility: hidden;
}


#st-panel-1 {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#st-control-1:checked ~ .st-scroll #st-panel-1 #page_title,
#st-control-2:checked ~ .st-scroll #st-panel-2 #page_title,
#st-control-3:checked ~ .st-scroll #st-panel-3 #page_title{
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}

@keyframes moveDown{
    0% { 
        transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}

/* Colored sections */

.st-color,
.st-deco{
    background: #B99764;
}
.st-color [data-icon]:after {
    color: #694F2E;
}
.st-color .st-deco {
    border-left: 50vw solid #B99764;
    border-right: 50vw solid #B99764;
    border-top: 9vw solid #F7F3EC;;
}
.st-color #page_title {
    color: #694F2E;
    /*text-shadow: 1px 1px 1px #8B572A;*/
} 

/* Colored sections */

.st-color,
.st-deco{
    background: #B99764;
}
.st-color [data-icon]:after {
    color: #694F2E;
}
.st-color .st-deco {
    border-left: 50vw solid #B99764;
    border-right: 50vw solid #B99764;
    border-top: 9vw solid #F7F3EC;;
}
.st-color #page_title {
    color: #694F2E;
    /*text-shadow: 1px 1px 1px #8B572A;*/
} 
#st-panel-1 .st-color, .st-deco, 
#st-panel-3 .st-color, .st-deco {    
    background: transparent;
}



/*Poop Logo with Bounce Animation*/

#logo { 
    -webkit-animation-name: bounce;
    animation: bounce 1.5s infinite;
    width: 25vw;
    align-self: center;
    margin-right: 10vw;
    
} 

@-webkit-keyframes bounce { 
     0% {
        -webkit-transform: translate3d(3vh, 3vh, 3vh);
        animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: translate3d(3vh, 8vh, 3vh);
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(3vh, 3vh, 3vh);
    }
} 
@keyframes bounce { 
     0% {
        -webkit-transform: translate3d(3vh, 3vh, 3vh);
        animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: translate3d(3vh, 8vh, 3vh);
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(3vh, 3vh, 3vh);
    } 
}
#bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

/* Joke & Fact Cards */

 .card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 102vh;
    width: 100vw;
    text-align: center; 
 }

.card #logo {
    display: inline;
}

/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.75s;
  transition: transform 0.75s;
}

.card__front {
  background-color: #694F2E;
}

.card__back {
  background-color: #543F25;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/* Card Text */

.text_box {
    display: flex;
    flex-flow: column nowrap;
    height: 65vh; 
    align-content: center;
    align-items: center;
    justify-content: center;
}

.card__text {
    width: 75vw;
    position:relative;
    color: #F7F3EC;
    font-size: 6vh;
    line-height: 7vh;
}

#text, #pun {
    text-align: center;
}

#pun {
    font-style: oblique;
}

#fact, #factBack {
    text-align: left;
}

.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card-container {
    position: relative;
    height: 65vh;
    width: 90vw;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5vh;
    line-height: 3.5vh;
    z-index: 2;
    -webkit-backface-visibility: hidden;
}

@media (min-width:1024px) { 
    #st-control-1, #st-control-1 + a {
    font-size: 3vh;
    line-height: 5vh;
}

.st-container > a {
    font-size: 4.5vh;
    line-height: 5vh;
}

#st-control-1>img, #st-control-1 + a>img {
    height: 5vh;
    margin-right: 0vh;
}
 .card__text {
    font-size: 4vw;
    line-height: 5.5vw;
 }
}


@media (min-width:768px) and (max-width:1023px) {
#st-control-1, #st-control-1 + a {
    font-size: 3vh;
    line-height: 4vh;
}

.st-container > a {
    font-size: 4.5vh;
    line-height: 5vh;
}

#home {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 60vw;
}

#logo {
    width: 45vh;
    align-self: center;
    margin-right: 6vw;
}


.card__text {
    width: 75vw;
    text-align: center;
    position: relative;
    color: #F7F3EC;
    font-size: 6vw;
    line-height: 8vw;
}
}
   
@media (min-width:521px) and (max-width:767px) {
    #st-control-1, #st-control-1 + a {
    font-size: 3vh;
    line-height: 4vh;
}

.card-container {
    position: relative;
    height: 65vh;
    width: 90vw;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 4vh;
    line-height: 5vh;
    z-index: 2;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.card__text {
    width: 75vw;
    text-align:left;
    position:relative;
    color: #F7F3EC;
    font-size: 6vh;
    line-height: 9vh;
}

#home {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 70vw;
}
}
@media screen and (max-width: 520px) {
.st-deco{
    border-left: 50vw solid #F7F3EC;
    border-right: 50vw solid #F7F3EC;
    border-top: 19vw solid #B99764;
}
.st-color .st-deco {
    border-left: 50vw solid #B99764;
    border-right: 50vw solid #B99764;
    border-top: 18vw solid #F7F3EC;;
}

.st-container > a {
    font-size: 4vh;
    line-height: 4.5vh;
}

#st-control-1, #st-control-1 + a {
    font-size: 2.5vh;
    line-height: 3vh;
}

#st-control-1>img, #st-control-1 + a>img {
    height: 6vh;
    margin-right: 0vh;
}

#home {
    display: flex;
    flex-flow: row wrap;
    height: 50vh;
    width: 60vw;
}

#logo {
    width: 60vw;
    margin-right: 10vw;
}

 .card__text {
    font-size: 8vw;
    line-height: 9vw;
 }
 
 .st-container > input:checked + a:after,
.st-container > input:checked:hover + a:after{
    border-width: 7vw;
    margin-left: -7vw;
}
}

@media screen and (max-width: 360px) {
#logo {
    -webkit-animation-name: bounce;
    animation: bounce 1.5s infinite;
    width: 60vw;
    align-self: center;
    margin-right: 10vw;
}

#st-panel-1 #page_title {
    color: #694F2E;
    text-shadow: .25vw #8B572A;
    font-size: 5vh;
}
    
.card { height: inherit; }    

.card-container {
    height: 65vh;
 }
 
 .text_box {
    height: 65vh;
 }
 
 .card__text {
    font-size: 7vw;
    line-height: 9vw;
 }
 
 #st-panel-2 .card__text {
     font-size: 10vw;
     line-height: 12vw;
 }

.st-container > a {
    font-size: 4vh;
    line-height: 4.5vh;
}

[data-icon]:after {
    font-size: 10vh;
    }
}
