@import url('normalize.css');

*{
    box-sizing: border-box;
}

/*
 * Basic Style Definitions
*/

body, html {
  background-color: #f0e6d7;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;  
}

.wrapper {
    background-color: #f0e6d7;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
p {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    color: #7e623c;
    font-size: 2vw;
}

h1, h2, h3 {
    font-family: 'Luckiest Guy', 'Arial Black', Imapct, sans-serif;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

/*
 * Header
*/
    
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 20vh;
}

#navbuttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 20vh;
}

.logo {
    width: 20vw;
    height: 20vh;
    margin: 0vw;
    padding:0vw;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-box-align: center;  
    -webkit-align-items: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; 
}

.logo img {
    max-height: 18vh;
    margin: 0vw;
    padding:0vw;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-box-align: center;  
    -webkit-align-items: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.menubutton {
    width: 40vw;
    height: 20vh;
    margin: 0vw;
    padding:0vw;
    
    background-color: #3399cc;
    border-style: solid;
    border-color: #003366;
    border-width: .25vw;
    
    color: #fff;
    font-size: 3vw;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-box-align: center;  
    -webkit-align-items: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; 
}

/*
 * Main Section
*/

#main {
    background-color: #f0e6d7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    padding:0vw;
    margin: 0vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/*
 * Poop Logo with Shake animation
*/

.animated { 
    -webkit-animation-name: bounceIn;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: 10;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;

    -webkit-animation-name: bounceIn;

            animation-name: bounceIn;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: 10;
            animation-iteration-count: 10;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
        -ms-flex-align: center; 
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    
    margin: 8vh 10vw 2vh 10vw;
    padding:0vw;
} 

@-webkit-keyframes shake { 
    0%, 100% {-webkit-transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-20px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(20px);} 
} 
@keyframes shake { 
    0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-20px);transform: translateX(-20px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(20px);transform: translateX(20px);} 
} 
.shake { 
    -webkit-animation-name: shake; 
    animation-name: shake; 
}

#poop_logo {
    
}

/*
 * Site Title under logo
*/

.page_title {
    color: #7e623c;
    font-size: 3vw;
    padding:0vw;
    margin: 0vw;
}

/**
 * Sections
 *
 * Some sections to define card content areas.
 */
 
.container {
  display: flex;
  flex-flow: column;
}
/*
 * The cards
 */
 
.card {
  position: relative;
  float: left;
  padding-bottom: 25%;
  width: 55vw;
  height: 45vw;
  text-align: center; 
}

.card:nth-child(1) {
  margin-left: -3px;
  margin-right: 1px;
}

.card:nth-child(2),
.card:nth-child(3) {
  margin-right: 1px;
}

/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
}

.card__front {
  background-color: #ff5078;
}

.card__back {
  background-color: #1e1e1e;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/* card text */
.card__text {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 20px;
  color: #fff;
  line-height: 1vw;
}

.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/*
*  Responsive Flexbox
*/

@media only screen and (min-width:1280px) {
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 20vh;
}

#navbuttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 20vh;
}

.logo {
    width: 20vw;
    height: 20vh;
    margin: 0vw;
    padding:0vw;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-box-align: center;  
    -webkit-align-items: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; 
}

.logo img {
    max-height: 18vh;
}

.menubutton {
    width: 40vw;
    height: 20vh;
    margin: 0vw;
    padding:0vw;
    
    background-color: #3399cc;
    border-style: solid;
    border-color: #297aa3;
    border-width: .25vw;
    
    color: #fff;
    font-size: 2.5vw;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-box-align: center;  
    -webkit-align-items: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; 
}
.animated { 
    -webkit-animation-name: bounceIn;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: 10;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;

    -webkit-animation-name: bounceIn;

            animation-name: bounceIn;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: 10;
            animation-iteration-count: 10;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
        -ms-flex-align: center; 
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    
    margin: 8vh 10vw 2vh 10vw;
    padding:0vw;
} 

@-webkit-keyframes shake { 
    0%, 100% {-webkit-transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-20px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(20px);} 
}

@keyframes shake { 
    0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-20px);transform: translateX(-20px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(20px);transform: translateX(20px);} 
} 
.shake { 
    -webkit-animation-name: shake; 
    animation-name: shake; 
}

.page_title {
    color: #7e623c;
    font-size: 3vw;
    padding:0vw;
    margin: 0vw;}}

@media (min-width:768px) and (max-width:1279px) {

p {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    color: #7e623c;
    font-size: 4.75vw;
}
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 10vh;
}

#navbuttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 10vh;
}

.logo {
    width: 16vw;
    height: 10vh;
    margin: 0vw;
    padding:0vw;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-box-align: center;  
    -webkit-align-items: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; 
}

.logo img {
    max-height: 8vh;
    
    margin: 0vw;
    padding:0vw;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-box-align: center;  
    -webkit-align-items: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; 
}

.menubutton {
    width: 42vw;
    height: 10vh;
    margin: 0vw;
    padding:0vw;
    
    background-color: #3399cc;
    border-style: solid;
    border-color: #003366;
    border-width: .25vw;
    
    color: #fff;
    font-size: 2.5vw;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-box-align: center;  
    -webkit-align-items: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; 
}
.page_title {
    color: #7e623c;
    font-size: 6vw;
    padding:0vw;
    margin: 0vw;
}     
}

@media (min-width:480px) and (max-width:767px) {
   p {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    color: #7e623c;
    font-size: 4vw;
}
    
    header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 15vh;
}

#navbuttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 15vh;
}

.logo {
    width: 20vw;
    height: 15vh;
    margin: 0vw;
    padding:0vw;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-box-align: center;  
    -webkit-align-items: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; 
}

.logo img {
    max-height: 12vh;
    
    margin: 0vw;
    padding:0vw;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-box-align: center;  
    -webkit-align-items: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; 
}

.menubutton {
    width: 40vw;
    height: 15vh;
    margin: 0vw;
    padding:0vw;
    
    background-color: #3399cc;
    border-style: solid;
    border-color: #003366;
    border-width: .25vw;
    
    color: #fff;
    font-size: 2.5vw;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-box-align: center;  
    -webkit-align-items: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; 
}
.page_title {
    color: #7e623c;
    font-size: 6vw;
    padding:0vw;
    margin: 0vw;
} 
}

@media screen and (max-width:479px) {
    
    p {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    color: #7e623c;
    font-size: 4vw;
}

    header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 10vh;
}

#navbuttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 10vh;
}

.logo {
    width: 20vw;
    height: 10vh;
    margin: 0vw;
    padding:0vw;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-box-align: center;  
    -webkit-align-items: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; 
}

.logo img {
    max-height: 8vh; 
}

.menubutton {
    width: 40vw;
    height: 10vh;
    margin: 0vw;
    padding:0vw;
    
    background-color: #3399cc;
    border-style: solid;
    border-color: #003366;
    border-width: .5vw;
    
    color: #fff;
    font-size: 3vw;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-box-align: center;  
    -webkit-align-items: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; 
}
.page_title {
    color: #7e623c;
    font-size: 7vw;
    padding:0vw;
    margin: 0vw;
}
}